$pad1: 1em;
$pad2: 2em;
$green: #3CBC4D;
$yellow:#FFE548;
$cyan: #CFFCFF;
$pink: #FFEFFF;
$white:#fff;
$black:#333;
$font-stack:"Raleway", sans-serif;

body {
  background: $white;
  font: 16px/1.67 $font-stack;
  margin: 0;
  color:$black;
  box-sizing:border-box;
  overflow:hidden;
}

.col2,
.col3,
.col4,
.col6,
.col8,
.col12 {
  float:left;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col2  {width:16.67%;}
.col3  {width:25%;}
.col4  {width:33.33%;}
.col6  {width:50%;}
.col8  {width:66.66%;}
.col12 {width:100%;}

a, a:hover{
  color:$black;
  text-decoration: none;
}

h1,h2,h3,h4,p,ul {
  display: block;
  margin: 0 0 1em;
  padding: 0;
}

h1,h2,h3,h4 {
  font-weight: 800;

  span {
    display:inline-block;
    padding-left:$pad1;
    font-size: 0.9em;
    font-weight: 500;
  }
}

h1 {
  font-size: 2em;
  margin-top:-10px;
}

header {
  height:80px;
  border-bottom: 1px solid $pink;

  .header {
    position:absolute;
    top:20px;
    left:40px;

    &:last-of-type {
      left:auto;
      right:40px;
    }
  }

  a {
    display: inline-block;
    margin:10px 5px 0;
    text-transform: uppercase;
    color:lighten($black,20%);
    font-weight:800;
    font-size:11px;
    letter-spacing:0.1em;
    cursor: pointer;

    &:hover {
      border-bottom:0!important;
    }

    &:first-of-type {;
      border-bottom: 1px solid lighten($yellow,10%);
    }

    &:last-of-type {
      border-bottom: 1px solid $pink;
    }
  }

  button {
    position:absolute;
    right:0;
    background:$green;
    color:$white;
  }

}

section {
  height:inherit;
}
button {
  border:0;
  box-shadow:none;
  border-radius:5px;
  padding:1em;
  text-transform: uppercase;
  font-weight:800;
  letter-spacing:0.1em;
  cursor: pointer;
  font-size:11px;

  &:hover, &:focus {
    background:darken($green,5%);
  }
}
table {
  border-spacing: 0 $pad2;

  tr td:first-of-type {
    padding-right:$pad1*8;
    font-size:0.7em;

    &:first-of-type:first-letter {
      text-transform: capitalize;
    }
  }

  tr td:last-of-type {
    border:1px solid;
    text-transform: uppercase;
    display:inline;
    padding:0.4em 0.8em;
    border-radius:5px;
    background:$white;
  }
}
.main {
  height:100vh;
}
.bottom {
  position:absolute;
  bottom:$pad2*2;
}
.article, .attributeAll{
  height:100%;
  padding:$pad2*2.5 $pad2*3;

  background-repeat:repeat;

  button {margin-left:$pad1;}
}

.article {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVQIW2NkwAMYiZKM+/7//yJORhTFxOnEZjx5OkFuAAAiuwdb/JJ1TQAAAABJRU5ErkJggg==);
  border-right:1px solid $pink;

  button {
    background:$yellow;

    &:hover, &:focus {
      background:$cyan;
    }
  }
}

.attributeAll {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVQIW2NkwAMYiZL8/9TjP6P0DhTFxOnEZjx5OkFuAAAi+wcz4XbliwAAAABJRU5ErkJggg==);

  button {
    background:$cyan;

    &:hover, &:focus {
      background: $pink;
    }
  }
}

@media print {
  button {display:none;}
  .col2,
  .col3,
  .col4,
  .col6,
  .col8,
  .col12 {
    width:100%;
  }
  .article, .attributeAll {
    border:0!important;
    height:50%;
  }
}

/* intro js overwrite */
.introjs-helperNumberLayer {
  display:none;
}

.introjs-tooltip {
  padding:40px!important;
}

.introjs-tooltiptext a {
  text-decoration:underline;
}

.introjs-bullets ul li a {
  width: 8px!important;
  height: 8px!important;

  &.active,&:hover{
    background: $yellow!important;
  }
}

.introjs-button {
  padding:10px!important;
}

.introjs-skipbutton {
  float: left;
}