body {
  background: #fff;
  font: 16px/1.67 "Raleway", sans-serif;
  margin: 0;
  color: #333;
  box-sizing: border-box; }
  body.game {
    overflow: hidden; }

.col2,
.col3,
.col4,
.col6,
.col8,
.col12 {
  float: left; }
  .col2:after,
  .col3:after,
  .col4:after,
  .col6:after,
  .col8:after,
  .col12:after {
    content: "";
    display: table;
    clear: both; }
  .col2.right,
  .col3.right,
  .col4.right,
  .col6.right,
  .col8.right,
  .col12.right {
    float: right; }

.col2 {
  width: 16.67%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33%; }

.col6 {
  width: 50%; }

.col8 {
  width: 66.66%; }

.col12 {
  width: 100%; }

a, a:hover {
  color: #333;
  text-decoration: none; }

h1, h2, h3, h4, p, ul {
  display: block;
  margin: 0 0 1em;
  padding: 0; }

h1, h2, h3, h4 {
  font-weight: 800; }
  h1 span, h2 span, h3 span, h4 span {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.9em;
    font-weight: 500; }
    h1 span.version, h2 span.version, h3 span.version, h4 span.version {
      font-size: 0.5em;
      padding: 0 7px;
      margin-left: 2px;
      color: #333;
      background: #CFFCFF;
      border-radius: 5px; }

h1 {
  font-size: 2em;
  margin-top: -10px; }

label, small {
  display: block;
  font-size: 0.7em;
  color: #b3b3b3; }

small {
  margin: 0 0 1em 0; }

header {
  height: 40px;
  padding: 1em 2em;
  border-bottom: 1px solid #FFEFFF;
  position: fixed;
  background: #fff;
  z-index: 1; }
  header * {
    margin: 0; }
  header ul li {
    list-style: none;
    float: left;
    margin: 2px 0 0 2em; }
    header ul li a {
      text-transform: uppercase;
      color: #666666;
      font-weight: 800;
      font-size: 11px;
      letter-spacing: 0.1em;
      cursor: pointer;
      border-bottom: 1px solid #FFEFFF; }
      header ul li a:hover {
        border-bottom: 0 !important; }
  header button {
    background: #3CBC4D;
    color: #fff; }

button {
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 11px; }
  button:hover, button:focus {
    background: #36a945; }

table {
  border-spacing: 0 2em; }
  table tr td:first-of-type {
    padding-right: 8em;
    font-size: 0.7em; }
    table tr td:first-of-type:first-of-type:first-letter {
      text-transform: capitalize; }
  table tr td:last-of-type {
    border: 1px solid;
    text-transform: uppercase;
    display: inline;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    background: #fff; }

.main {
  height: 100vh;
  margin-top: 70px; }
  .main section {
    height: 100%;
    /* game: set section height to follow screen */ }
  .main.about-text {
    padding: 5em 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAOMIP6/9///MwkygtlgAhmgCIBUAgC8XAfw6yM5oQAAAABJRU5ErkJggg==) repeat; }
    .main.about-text section {
      height: auto;
      /* about: set section height to follow content */
      margin: 0 25% 5em; }
      .main.about-text section .col12 {
        padding-top: 2em; }
      .main.about-text section a {
        text-decoration: underline; }
      .main.about-text section p {
        padding-right: 1em; }
      .main.about-text section img {
        padding: 5px !important;
        border-radius: 5px;
        border: 1px solid #FFEFFF; }

.bottom {
  position: absolute;
  bottom: 4em; }

.article, .attributeAll {
  height: 100%;
  padding: 5em 6em;
  background-repeat: repeat; }
  .article button, .attributeAll button {
    margin-left: 1em; }

.article {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVQIW2NkwAMYiZKM+/7//yJORhTFxOnEZjx5OkFuAAAiuwdb/JJ1TQAAAABJRU5ErkJggg==);
  border-right: 1px solid #FFEFFF; }
  .article button {
    background: #FFE548; }
    .article button:hover, .article button:focus {
      background: #CFFCFF; }

.attributeAll {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVQIW2NkwAMYiZL8/9TjP6P0DhTFxOnEZjx5OkFuAAAi+wcz4XbliwAAAABJRU5ErkJggg==); }
  .attributeAll button {
    background: #CFFCFF; }
    .attributeAll button:hover, .attributeAll button:focus {
      background: #FFEFFF; }

/* intro js overwrite */
.introjs-helperNumberLayer {
  display: none; }

.introjs-tooltip {
  padding: 40px !important; }

.introjs-tooltiptext a {
  text-decoration: underline; }

.introjs-bullets ul li a {
  width: 8px !important;
  height: 8px !important; }
  .introjs-bullets ul li a.active, .introjs-bullets ul li a:hover {
    background: #FFE548 !important; }

@media print {
  button {
    display: none; }

  .col2,
  .col3,
  .col4,
  .col6,
  .col8,
  .col12 {
    width: 100%; }

  .article, .attributeAll {
    border: 0 !important;
    height: 50%; } }
.introjs-button {
  padding: 10px !important; }

.introjs-skipbutton {
  float: left; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .col2 {
    width: 25%; }

  .col8 {
    width: 50%; }

  table tr td:first-of-type {
    padding-right: 2em; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1 {
    font-size: 1.5em; }

  p {
    font-size: 0.85em; }

  header h3 span {
    font-size: 0.65em; }
  header ul li a, header button {
    margin-top: 4px;
    font-size: 9px; }

  .article, .attributeAll {
    padding: 4em 2em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  body {
    font-size: 0.75em; }
    body.game {
      overflow: visible; }

  .col2,
  .col4,
  .col6,
  .col8 {
    width: 100%;
    float: none; }

  .right {
    float: none; }

  button {
    padding: 4px; }

  .bottom {
    position: relative; }
    .bottom strong {
      display: none; }
    .bottom button {
      margin: 40px 0 0 0;
      font-size: 9px; }

  header {
    padding: 0; }
    header h3, header ul, header button {
      position: absolute;
      top: 10px;
      left: 20px; }
      header h3 span, header ul span, header button span {
        display: none; }
    header ul {
      left: 80px; }
      header ul li a {
        font-size: 8px; }
    header button {
      top: 13px;
      left: auto;
      right: 10px;
      font-size: 6px; }

  .main {
    height: auto;
    margin-top: 40px; }
    .main section {
      height: auto; }
    .main.about-text {
      padding: 0 !important; }
      .main.about-text section {
        margin: 0;
        width: 90%;
        padding: 20px; }
        .main.about-text section label, .main.about-text section img {
          display: none; }

  .article, .attributeAll {
    padding: 4em 2em 0;
    border-right: 0; }

  .article {
    border-bottom: 1px solid #FFEFFF; } }

/*# sourceMappingURL=base.css.map */
