body {
  background: #fff;
  font: 16px/1.67 "Raleway", sans-serif;
  margin: 0;
  color: #333;
  box-sizing: border-box;
  overflow: hidden; }

.col2,
.col3,
.col4,
.col6,
.col8,
.col12 {
  float: left; }
  .col2:after,
  .col3:after,
  .col4:after,
  .col6:after,
  .col8:after,
  .col12:after {
    content: "";
    display: table;
    clear: both; }

.col2 {
  width: 16.67%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33%; }

.col6 {
  width: 50%; }

.col8 {
  width: 66.66%; }

.col12 {
  width: 100%; }

a, a:hover {
  color: #333;
  text-decoration: none; }

h1, h2, h3, h4, p, ul {
  display: block;
  margin: 0 0 1em;
  padding: 0; }

h1, h2, h3, h4 {
  font-weight: 800; }
  h1 span, h2 span, h3 span, h4 span {
    display: inline-block;
    padding-left: 1em;
    font-size: 0.9em;
    font-weight: 500; }

h1 {
  font-size: 2em;
  margin-top: -10px; }

header {
  height: 80px;
  border-bottom: 1px solid #FFEFFF; }
  header .header {
    position: absolute;
    top: 20px;
    left: 40px; }
    header .header:last-of-type {
      left: auto;
      right: 40px; }
  header a {
    display: inline-block;
    margin: 10px 5px 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 0.1em;
    cursor: pointer; }
    header a:hover {
      border-bottom: 0 !important; }
    header a:first-of-type {
      border-bottom: 1px solid #fbd700; }
    header a:last-of-type {
      border-bottom: 1px solid #ffbcff; }
  header button {
    position: absolute;
    right: 0;
    background: #3CBC4D;
    color: #fff; }

section {
  height: inherit; }

button {
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 11px; }
  button:hover, button:focus {
    background: #36a945; }

table {
  border-spacing: 0 2em; }
  table tr td:first-of-type {
    padding-right: 8em;
    font-size: 0.7em; }
    table tr td:first-of-type:first-of-type:first-letter {
      text-transform: capitalize; }
  table tr td:last-of-type {
    border: 1px solid;
    text-transform: uppercase;
    display: inline;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    background: #fff; }

.main {
  height: 100vh; }

.bottom {
  position: absolute;
  bottom: 4em; }

.article, .attributeAll {
  height: 100%;
  padding: 5em 6em;
  background-repeat: repeat; }
  .article button, .attributeAll button {
    margin-left: 1em; }

.article {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVQIW2NkwAMYiZKM+/7//yJORhTFxOnEZjx5OkFuAAAiuwdb/JJ1TQAAAABJRU5ErkJggg==);
  border-right: 1px solid #FFEFFF; }
  .article button {
    background: #FFE548; }
    .article button:hover, .article button:focus {
      background: #CFFCFF; }

.attributeAll {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVQIW2NkwAMYiZL8/9TjP6P0DhTFxOnEZjx5OkFuAAAi+wcz4XbliwAAAABJRU5ErkJggg==); }
  .attributeAll button {
    background: #CFFCFF; }
    .attributeAll button:hover, .attributeAll button:focus {
      background: #FFEFFF; }

@media print {
  button {
    display: none; }

  .col2,
  .col3,
  .col4,
  .col6,
  .col8,
  .col12 {
    width: 100%; }

  .article, .attributeAll {
    border: 0 !important;
    height: 50%; } }
.introjs-helperNumberLayer {
  display: none; }

.introjs-tooltiptext a {
  text-decoration: underline; }

/*# sourceMappingURL=base.css.map */
